<div class="row">
    <div class="cityscape">
    </div>
    {# <div class="row"> #}
        <div class="footer-bottom">

<div class="container">
    


            <div id="" class="footer-copyright col-md-6">
                <p>&copy; {{ 'now'|date('Y') }} - The Flat Earth Society</p>
                <p>MIT License</p>
            </div>
            <div id="" class="footer-resources col-md-6">
                <div class="social-icons pull-right">
                    <a href="https://twitter.com/symfony"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/SensioLabs"><i class="fa fa-facebook"></i></a>
                    <a href="http://symfony.com/blog"><i class="fa fa-rss"></i></a>
                </div>
            </div> 


    
</div>


        </div>
    {# </div> #}
</div>  

     

